<a href="https://colab.research.google.com/github/Sujan-Sawant/SQL-Case-Studies/blob/main/Data%20analysis%20for%20a%20top%20Americas%20retailer%20using%20SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q1 Import the dataset and do usual exploratory analysis steps like checking the structure & characteristics of the dataset.

In [ ]:

1: Data type of all columns in the "customers" table

In [ ]:
2: Get the time range between which the orders were placed.

Query:

SELECT
MIN(DATE(order_purchase_timestamp)) AS first_date,
MAX(DATE(order_purchase_timestamp)) AS last_date,
TIME(MIN(order_purchase_timestamp)) AS first_time,
TIME(MAX(order_purchase_timestamp)) AS last_time
from `Business_case.orders`

#### Inference: From the output we can see that
- the first order date was 2016-09-04
- The last order date was 2018-10-17
- The first order time was 21:15:19
- The last order time was 17:30:18

In [ ]:
3: Count the Cities & States of customers who ordered during the given period.

Query:

SELECT count (distinct customer_city) as cities ,
count(distinct customer_state ) as states
from `Business_case.customers`
where customer_id in (select distinct customer_id from `Business_case.orders`)

#### Inference: From the result we can see that there are 4119 cities and 27 states of customers who ordered during the given period ( 2016 -2018)

## Q2: In-depth Exploration:

In [ ]:
1: Is there a growing trend in the no. of orders placed over the past years?

Query:

select
extract(year from order_purchase_timestamp) as year,
extract(month from order_purchase_timestamp) as month,
count(order_id) as no_of_orders,
from `Business_case.orders`
group by 1,2
order by 1,2 ;

#### Inference:
From the output we can see that the no of orders for each month from 2016 to 2018.
- for the first 3 months of 2016 (months September, October, December) there was no consistent number of orders this is because the company was not established in Brazil and company was in starting phase of making their setup. Once the company well established there in the Brazil (from 2017 onwards)
- we can see there is growth in the number of orders and in November 2017 there is peak or company recorded highest number of orders (7544 orders) there can be multiple reasons why there was peak in November like there might be a Christmas sale, might be end of year sale, might be black Friday sale etc.
- After then there is stable or consistency in the number of orders till august 2018
- After that the number of orders fall the reason might be the company was wrapping up their operations.
- So the answer is yes, there is a growing trend in the no. of orders placed over the past years.

In [ ]:
2: Can we see some kind of monthly seasonality in terms of the no. of orders being placed?

Query:

select
extract(year from order_purchase_timestamp) as year,
extract(month from order_purchase_timestamp) as month,
count(order_id) as no_of_orders,
from `Business_case.orders`
group by 1,2
order by 1,2 ;

#### Inference:
- Yes, we can see there is monthly seasonality in terms of the number of orders being placed, like
- When the company was setting up their operation there was no such a consistency in the number of orders, once company established or well settled in the market we can see the sudden growth in the very first month 2017 and after that there is consistent growth in the number of orders for each
month
- In November 2017 we can see company recorded their highest numbers of order being placed there can be number of reasons behind it like Christmas sale, thanks giving sale etc.
- company can predict there can be a more sale than usual months when there are some occasions like Christmas or any other. So, company should be ready with storage of more products, having more inventory , logistics, vendors, workers etc.
- After peak the next month there was slight drop in orders but then for next 5 months there was stable or constant number for the orders
- We can see the for the last two months of 2018 there was a huge drop in the orders as company was wrapping up their operations.

In [ ]:
3: During what time of the day, do the Brazilian customers mostly place their orders?
(Dawn, Morning, Afternoon or Night)

Query:

SELECT
COUNT(order_id) AS no_of_orders,
CASE
WHEN hr BETWEEN 0 AND 6 THEN 'Dawn'
WHEN hr BETWEEN 7 AND 12 THEN 'Morning'
WHEN hr BETWEEN 13 AND 18 THEN 'Afternoon'
WHEN hr BETWEEN 19 AND 23 THEN 'Night'
END AS Time_Interval
FROM
(SELECT
order_id,
EXTRACT(HOUR FROM order_purchase_timestamp) AS hr
from `Business_case.orders`)
group by Time_Interval ;

#### Inference:
-The above table gives the number of orders during different time interval Brazilian people orders.
- Afternoon is the time interval when Brazilian people orders the most as a count of 38135 orders. The number of orders peaked during afternoon suggest people prefers afternoon time
to order.
- After that Night is the time when orders reduce as compare to afternoon but has a decent number of orders as people might orders after work.
- Morning time also has moderate number of orders placed and number of orders placed in Dawn time is relatively very low as compare to other
times of the day.
- So Afternoon is the time of the day when Brazilian people orders most and during Dawn they orders less

## Q3: Evolution of E-commerce orders in the Brazil region

In [ ]:
1: Get the month-on-month no. of orders placed in each state.

Query:

select count(o.order_id) as no_of_orders,
c.customer_state,
extract (month from o.order_purchase_timestamp) as month
from `Business_case.orders` o
inner join `Business_case.customers` c
on o.customer_id=c.customer_id
group by c.customer_state,month
order by c.customer_state,month asc;

#### Inference:
- Above output shows the number of orders placed in each customer state for each month. Like for State AC there are number of order given for each 12 months then for AL there are also number of orders given for each 12 months and so on for every 27 states for each 12 months
- From this pattern we can get numbers of orders for each month for a particular state if we find out which state orders most in what month then we have to be prepared for next year by having more storage, more products, vendors, logistics so that we can deliver best to the customers  
- And also for  that state which orders least in a particular month , we can run some kind of discount on products or have some kind of sale so that customers might get attracted .
- Also we can get number of orders for each month to each state, from we can study pattern of customers behaviour and be prepared for
coming years

In [ ]:
2: How are the customers distributed across all the states?

Query:

select customer_state,
count(distinct customer_id) as no_of_unique_customers
from `Business_case.customers`
group by customer_state;

#### Inference:
-Above table shows the number of unique customers present in each state. Like for state RN there are 485 customers present,1336 customers are shopping in the state named CE.
- SP is the State showing most number of customers having number equals to 41746.
- And RR is the state having least customers having number equals to 46.
- Since we have least customers in state RR we have to take some measurable actions to grow our sale there by having some marketing and promotion, by finding out customers need at least customers states and adding that product In the store, enhancing customer experience by providing them exceptional customer service, offering incentives like loyalty benefits and reward ,improve product quality can help company to grow in the states having least customers

## Q4: Impact on Economy: Analyse the money movement by e-commerce by looking at order prices, freight and others.

In [ ]:
1: Get the % increase in the cost of orders from year 2017 to 2018 (include months between Jan to Aug only).

Query:

select Total_2017_payment_value,Total_2018_payment_value,
round(((Total_2018_payment_value-Total_2017_payment_value)/ Total_2017_payment_value * 100
),2) as increase_percentage from
(select
round(sum(case when order_purchase_timestamp between '2017-01-01' and '2017-08-31' then
payment_value else 0 end ),2) as Total_2017_payment_value ,
round(sum (case when order_purchase_timestamp between '2018-01-01' and '2018-08-31' then
payment_value else 0 end ),2) as Total_2018_payment_value,
FROM Business_case.payments p
INNER JOIN Business_case.orders o ON p.order_id = o.order_id) a

#### Inference:
- The table presents the cumulative payment values from January to August for the years 2017 and 2018, along with the percentage increase in payment value.
- The total payment value for

And the increase in payment value from 2017 to 2018, goes approximately 138.53%

#### Inference:
- The table presents the cumulative payment values from January to August for the years 2017 and 2018, along with the percentage increase in payment value.
- The total payment value for 2017 amounts to approximately 3,645,107.27, while for 2018, it reaches approximately 8,694,669.95.
- And the increase in payment value from 2017 to 2018, goes approximately 138.53%

In [ ]:
2: Calculate the Total & Average value of order price for each state.

Query:

Select sum(p.payment_value) as Total_price ,
avg(p.payment_value) as Average_price ,
c.customer_state
from `Business_case.customers` c inner join
`Business_case.orders` o
on c.customer_id = o.customer_id
inner join `Business_case.payments` p
on o.order_id = p.order_id
group by c.customer_state

#### Inference:
- The above table has 3 columns names as Total price ,Average price, customer state.
-Total_price shows the total price of orders for each state and Average_price shows the average price of orders for each state.
- For above table, the state RJ total price is around 2144379 and average price
is around 158. The state named SP recorded highest total price around 5998226 and
- State RR has lowest total price around 10064. State PB has highest Average price around 248 and state SP has lowest Average price around 137.

In [ ]:
3: Calculate the Total & Average value of order freight for each state.

Query:

select round(sum(freight_value),2) as Total_freight_value,
round(avg(freight_value),2) as Average_freight_value,
customer_state
from `Business_case.customers` c inner join
`Business_case.orders` o
on c.customer_id = o.customer_id
inner join `Business_case.order_items` i
on o.order_id=i.order_id
group by c.customer_state

#### Inference :
- The above table has 3 columns names as Total_freight_value ,Average_freight_value and customer_state.
- The Total_freight_value shows the total freight value of orders for each state and Average_freight_value shows the average freight value of orders for each state.
- For above table, the
state SP has highest total freight value which is around 718723 and the state RR has the lowest freight value around 2235.
- The state named RR has highest Average freight value around 42.98 and
state SP has lowest freight value which is around 15.15.

## Q5: Analysis based on sales, freight and delivery time.

In [ ]:
1: Find the no. of days taken to deliver each order from the order’s purchase date as delivery time.

Query:

select order_id,
DATE_DIFF(order_delivered_customer_date, order_purchase_timestamp,day) as time_to_deliver,
DATE_DIFF(order_delivered_customer_date, order_estimated_delivery_date,day) as
diff_estimated_delivery
from `Business_case.orders`

#### Inference :
- Above table shows time to deliver and difference of estimated delivery for each order id.
- Time to deliver is the number of days taken to deliver each order to the customer from the order’s purchase date and difference of estimated delivery is number of days between the estimated & actual delivery date of an order to the customer.
- We can see that there are many orders with delivery date more than 30 days which is not good for any company as this will impact business,
- We have to reduce that delivery time. We should have as low as delivery date
- We should take actions to reduce delivery time like maintain inventory to prevent stockouts, use of automation to handle orders quickly, partner up with logistics and various transportation, build distribution canters or warehouses to distinct locations etc. Also, we have to strictly avoid difference estimated date i.e.
- We have to avoid delay in delivery of product, this too can achieved by above actions , if we have given estimated date of delivery, we have to get that product delivered on or before the estimated delivery date to maintain growth in business.

In [ ]:
2: Find out the top 5 states with the highest & lowest average freight value.

Query:

WITH cte AS (
SELECT
c.customer_state,
ROUND(AVG(freight_value), 2) AS avg_freight
FROM
Business_case.customers c
INNER JOIN
Business_case.orders o ON c.customer_id = o.customer_id
INNER JOIN
Business_case.order_items i ON o.order_id = i.order_id
GROUP BY
c.customer_state
)
(SELECT
customer_state ,
row_number()over( order by avg_freight ) as rank
from cte
limit 5)
union all
(SELECT
customer_state,
row_number()over( order by avg_freight desc) as rank
from cte
limit 5) ;

#### Inference :
- The above table gives the customer state where ranking is given to each state
according to average freight value.
- First five states have highest average freight value the states are
RR, PB, RO, AC, PI and
- Next five states have lowest average freight value the states are SP, PR, MG
,RJ,DF.

In [ ]:
3: Find out the top 5 states with the highest & lowest average delivery time.

Query:

with cte as
(select c.customer_state,
round(avg(DATE_DIFF(order_delivered_customer_date, order_purchase_timestamp,day)),2) as
avg_delivery_days
from `Business_case.customers` c inner join
`Business_case.orders` o on c.customer_id=o.customer_id
group by c.customer_state)
(select customer_state,
avg_delivery_days,
row_number() over(order by cte.avg_delivery_days DESC) as top_5_Bottom_5_rank
from cte
limit 5)
union all
(select customer_state,
avg_delivery_days ,
row_number() over(order by cte.avg_delivery_days ASC) as top_5_Bottom_5_rank
from cte
limit 5)

#### Inference :
- The above table gives the view of top 5 states with lowest average delivery time and top 5 highest average delivery time.
- SP is the state leading as top state with lowest average delivery
time of about almost 8 days. Customers in state SP gets the order delivered in almost 8 days whereas
- PA state customers have to wait of almost 23 days to get their order delivered.
- States like SP, PR, MG, DF, SC have lowest delivery time. Customers in these states likely to receive their order within less days contributing higher satisfaction level. Also, Business operations in these states might have optimized logistics and delivery operations.
- Whereas, States like RR, AP, AM, AL, PA have the highest delivery time. Customers in these states might experience longer wait times for their orders, and leading to decreased satisfaction and loyalty.
- This can impact business in such area, companies need to investigate causes of delay, such as logistical challenges, transportation issue etc.
- To improve delivery times in such states we need to be more focused towards improving logistics route, warehouse management or partner up with efficient delivery services etc.

In [ ]:
4: Find out the top 5 states where the order delivery is really fast as compared to the
estimated date of delivery.

Query:

select c.customer_state,
avg(DATE_DIFF(order_delivered_customer_date, order_estimated_delivery_date,day)) as
order_delivery
from `Business_case.customers` c inner join `Business_case.orders` o on
c.customer_id=o.customer_id
group by c.customer_state
order by order_delivery
limit 5 ;

#### Inference :
- Above table gives top 5 states where order delivery is really fast as compared to estimated delivery date.
- In sate AC order delivery is average 19 days before estimated delivery date
and RR state customers get their product delivered 16 days before estimated delivery date

## Q6: Analysis based on the payments

In [ ]:
1: Find the month-on-month no. of orders placed using different payment types.

Query:

select count(o.order_id) as no_of_orders,p.payment_type,
extract (month from order_purchase_timestamp ) as month
from `Business_case.payments` p inner join
`Business_case.orders` o on p.order_id=o.order_id
group by 2,3
order by 3 asc;

#### Inference :
-Above table shows the number of orders placed using different payment methods in each month . Like for 1st month i.e. January 477 orders were placed using voucher as a payment type ,6103 orders were placed using credit card,118 orders placed using debit card ,1715 orders placed using UPI as a payment type.
- From observation we can see that, most customers are using credit
card as a payment type so we can offer them benefits like reward like giving points to the customers which they can use as discount etc.
- Also we can see debit card is least used as payment type.
- To make customers use debit card more often we can give them benefits like cashback on using debit card, referrals like customers to refer friends and family to shopping using debit card, early bird discount offers to debit card users etc.

In [ ]:
2: Find the no. of orders placed on the basis of the payment installments that have
been paid.

Query:

select count(order_id) no_of_orders,
payment_installments
from `Business_case.payments`
where payment_installments > 0
group by payment_installments

#### Inference :
- The table above shows the number of orders according to the number of payment
installments completed.
- It indicates that there are 52,545 orders where a single installment has been
completed, 12,413 orders with two installments completed, and so on